/*entire page */
body { 
    background-color: #FF74B3;
    font-family: cursive;
    color: #FFFFFF;
    text-shadow: 2px 2px #A882FF; 
    text-align: center;
}

/* header area */
header {
    background-color: #FFB280;
    margin: 0px auto;
    font-size: 1.5rem;
    display: block;
}

h1 {
    text-align: center;
    padding: 30px;
    margin: 0px auto;
    outline: 10px double; 
}

header > nav > ul > li {
    display: inline-block;
    width: 250px; 
    text-align: center;
    
/*mock button styling */
    background-color: #A882FF;
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px;
    margin-top: 50px;
    padding: 5px;
}    

header > nav {
    float: center;
}

/* main body area */
main {
    margin: 30px auto;
    width: 960px;
    
}

.columns {
    float: left;
    width: 33.33%
}

h3 {
    font-size: 28px
}

.img-newborn {
    width: 300px;
}
.img-journal {
    width: 260px;
}
.img-rainbow {
    width: 200px;
  
}
p {
    font-size: 18px;
    text-align: center;

}

/* footer area */
footer {
    text-align: left;
    font-size: 20px;
    background-color: #FFB280;
}